{{#each projects}}
    <section class="project" id="{{id}}" data-index="{{@key}}">
        <div class="project--content">
            <div class="project--content--left">
                <div class="left--inner">
                    <h2 class="number">#{{key}}</h2>
                    <h2 class="project-name">{{shortTitle}}</h2>
                    <span class="client-type">{{client}}</span>
                    <a target="_blank" href="{{link}}" class="launch">
                        <span>Launch Website</span>
                        <span class="icon">
                            <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 21.1 16.5" style="enable-background:new 0 0 21.1 16.5;" xml:space="preserve">
                                <style type="text/css">
                                    .st0{fill:#FF8A66;}
                                </style>
                                <polygon class="st0" points="12.8,0 9.8,2.9 13.1,6 0,6 0,10 13.1,10 9.8,13.5 12.8,16.5 21.1,8.3 "/>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="project--content--right">
                <div class="misc">
                    <span class="label">
                        [type]
                    </span>
                    <span class="content">
                        {{{type}}}
                    </span>
                </div>
                <div class="misc">
                    <span class="label">
                        [role]
                    </span>
                    <span class="content">
                        {{role}}
                    </span>
                </div>
                <div class="misc">
                    <span class="label">
                        [stack]
                    </span>
                    <span class="content">
                        {{stack}}
                    </span>
                </div>
                {{#if more}}
                <div class="misc">
                    <span class="label">
                        [{{more.[0]}}]
                    </span>
                    <span class="content">
                        {{more.[1]}}
                    </span>
                </div>
                {{/if}}
            </div>
        </div>
        <div class="project--filter"></div>
        <div class="project--thumbnail" style="background-image: url('{{thumbnail}}')"></div>
    </section>
{{/each}}
